*.idea
__pycache__*
__pycache__/
*.pyc
.DS_Store
**/.DS_Scleartore
data/
commit_msg.txt
observations.txt
tmp/
sample
samples
checkpoints
tmp/checkpoints
src/evaluation/third_party/caffemodel/
gt_eval_results/
samples_prev/